
script(src='https://code.jquery.com/jquery-3.0.0.min.js')
script(src='https://cdn.jsdelivr.net/jquery.typeit/4.3.0/typeit.min.js')
page.about
    span.type-it
      script(src='assets/js/home_typer.js')
