

footer.footer
    a(href='https://www.instagram.com/maysssam/' style='padding: 10px;') Instagram  
    a(href='https://github.com/zimx' style='padding: 10px;') GitHub  
    a(href="mailto:maysssam@gmail.com" style='padding: 10px;' ).email-link +Contact 
    
