mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="work.html") Works
    li: a(href="#articles") Blog
    li: a(href="lab.html") Lab
    li: a(href="#contact") Contact

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo mg
    nav.site-nav
      +nav-content()
      
    //a(href="mailto:maysssam@gmail.com").email-link +mail me
    .email-link
      a(href='https://www.instagram.com/maysssam/', target='_blank')
        img(src='http://zimarty.com/image_Lib/zimarty/social_Icon/svg/Flat-Social-Icons-insta-bw-32.svg', onmouseover="this.src='http://zimarty.com/image_Lib/zimarty/social_Icon/svg/Flat-Social-Icons-insta-co-32.svg'", onmouseout="this.src='http://zimarty.com/image_Lib/zimarty/social_Icon/svg/Flat-Social-Icons-insta-bw-32.svg'", alt='Instagram', title='')
    .mobile-nav-toggle: span
