mixin nav-content()
  ul
    li: a(href="about.html") About
    li: a(href="work.html") Works
    //li: a(href="#articles") Blog
    li: a(href="lab.html") Lab
    li: a(href="#contact") Contact

.mobile-nav
  +nav-content()

header
  .header-position
    
    nav.site-nav
      +nav-content()
      
    
    
    .mobile-nav-toggle: span
