
footer.home-footer
  //a(href:"mailto:info@maysam.me") info@maysam.me
copyright
       © {{ site.title }} 
a href="https://twitter.com/{{ site.twitter_username }}" .waves-effect waves-teal btn-flat my-twitter-link.fa fa-twitter
