section.lab
  .flex.flex--center
    
      
    .col-50
      .lab-wrap
        {% assign items = site.lab | sort: 'date' | reverse  %}
        {% for item in items limit:12 %}
        a(href="{{item.url}}" style="background-image: url({{item.image_path}})").lab-thumb
          .lab-meta
            .name {{item.title}}
            .date {{item.date | date: " %b , %Y"}}
          {% endfor %}
          
      
    .col-50.flex.flex--center.order-first
      .col-1
        .desc-wrap
          p.home-lead.outdented  ... Lab ...
          a(href="").home-cta See All Articles
