script(src='https://code.jquery.com/jquery-3.0.0.min.js')
script(src='https://cdn.jsdelivr.net/jquery.typeit/4.3.0/typeit.min.js')
script(src='http://brangerbriz.net/labs/threejs_playGnd/js/three.min.js')
script(src='http://brangerbriz.net/labs/threejs_playGnd/js/Detector.js')


section.landing
  #boxCanvas(style="position:absolute; top:160px")
    canvas#myCanvas(width="400px" height="400px" )
      script(src='assets/js/home_box.js')

  .col-50.order-first
    span.type-it
      script(src='assets/js/home_typer.js')

      
