section.blog
  .flex.flex--center
    
      
    .col-50
      .blog-wrap
        {% for post in site.posts limit:12 %}
        a(href="{{post.url}}" style="background-image: url(assets/img/posts/thumb/{{post.thumbnail}})").blog-thumb
          .blog-meta
            .name {{post.title}}
            .date {{post.date | date: " %b %d, %Y"}}
          {% endfor %}
          
      
    .col-50.flex.flex--center.order-first
      .col-1
        .desc-wrap
          p.home-lead.outdented  ... Blog ...
          a(href="").home-cta See All Articles
