page.work
  .flex.flex--center
    
      
    
      .work-wrap
        {% for work in site.work  %}
        a(href="{{ site.baseurl }}{{work.url}}" style="background-image: url({{ site.baseurl }}{{work.image_path}}").work-thumb
          .work-meta
            .name {{work.title}}
            
          {% endfor %}
          
