---
layout: default
title: maysam.me
---


<span class="type-it"></span>
<div class="home-wrap">
   {% include header.html %}
   <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
   <script src="https://cdn.jsdelivr.net/jquery.typeit/4.3.0/typeit.min.js"></script>
   <script src="assets/js/home_typer.js"></script>

  <div class="home-sections">
    {% include landing.html %}

    {% include section-work.html %}
    {% include section-lab.html %}
    {% include section-blog.html %}


  <!-- all the sections here -->
  </div>
</div>
