
.type-it

  position: absolute
  display: block
  width: 80%
  top: 40%
  left: 30px
  //transform: translate(-60%, -50%)
  font-size: 36px
  color: black
  font-weight: 500
  line-height: 1.2



.home-wrap
  display: flex
  min-height: 100 vh
  @media (max-width: 775px)
    display: block
.home-sections
  flex: 1

  section
    padding: 50px 0

  //flex class disply
  .flex
    display: flex
    flex-direction: row

  .flex--center
    justify-content: center

  .flex--left
    justify-content: left
  .flex--right
    justify-content: right

  .flex--space-around
    justify-content: space-around

  .order-first
    order: -1


//columns
.col-1
  max-width: 25%
  margin: 0 0px
  //background: blue


.col-2
  max-width: 620px
  margin: 0 10px


.col-50
  width: 75%
  margin: 0

.push-right
  margin-left: 0px


@media (max-width: 640px)
  .home-sections .flex
    display: block

  .col-1
    //width: 100%
    //justify-content: center
    //margin-top: 10px
  .col-50
    width: 100%
    //margin-left: 10%
    //margin-top: -20px
  .push-right
    margin-left: 50px
  .desc-wrap
    margin-top: 10px
    margin-left: 120px


  section.lab
    padding: 0px 0 0
    //width: auto



//typography
.home-lead
  font-size: 36px
  line-height: 1
